<div class="column prepend-8 span-8 append-8 centered">

<% form_tag session_path do -%>
<p><label for="login"><%= "Login"[:login] %></label>
<%= text_field_tag 'login' %></p>

<p><label for="password"><%= "Password"[:password] %></label>
<%= password_field_tag 'password' %></p>

<p><label for="remember_me"><%= "Remember me"[:remember] %></label>
<%= check_box_tag 'remember_me' %></p>

<p><%= submit_tag "Log in"[:log_in] %></p>
<% end -%>

</div>
